body{
  background-color: #111;
  margin-top: 0px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Handlee", cursive;
  font-weight: 800;
  font-style: normal;
}

.container{
  padding-top: 100px;
}

h1{
  font-size: 30px;
  color: #739072;
}

p{
  color: white;
  font-size: 20px;
}

/* .flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.home_image{
  height:600px;
  width: 100%;
}

.dp{
  height: 200px;
  width:200px;
  border-radius: 50%;
  float: left;
}

/* .fade_bottom{
  height: 7rem;
  background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.6),#111);
} */

a{
  text-decoration: none;
  color: white;
}


